.Title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Title h4{
    margin-bottom: 10px;
    margin-top: 70px;
    color: #212ea0;
    font-weight: 600;
}
