@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Outfit",sans-serif;
  scroll-behavior: smooth;}
  
.container{
  padding-left: 10%;
  padding-right: 10%;
}
body{
  background: #F5F5F5;
}
#programs{
  padding-top: 80px;        
  margin-top: -80px;        
}
#about{
   padding-top: 80px;        
  margin-top: -80px;  

}
#contact{
   padding-top: 80px;        
  margin-top: -80px;  

}
#testimonials{
   padding-top: 80px;        
  margin-top: -80px;  

}
#campus{
  padding-top: 80px;        
  margin-top: -80px;  
}
@media(max-width:1000px){
  .container{
    padding-left: 5%;
  padding-right: 5%;
}
  }
